body {
    /* display: grid;
    grid-template-areas: 
      "header header"
      "main main";
    grid-template-columns: 100px 1fr; 
    grid-template-rows: 100px 1fr;
    row-gap: 50px;
    column-gap: 15px; 
    background-image: url("images/bestseller-background.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: 'Courier New', Courier, monospace;
  }
  
  header {
    /* grid-area: header; */
    display: flex;
    flex-flow: row wrap;
    margin: -10px 60px;
    color: rgb(0, 0, 0);
    font-size: 2em; 
  }


  main {
    /* grid-area: main; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0px 60px;
    background-color: rgb(235, 235, 235);
  }

  .tile {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    float: left
  }
  
  /* .tile:hover {
    border: 3px solid rgb(252, 252, 252); 
    background-color: rgba(255, 255, 255, 0.3);
  } */


  .tile{
    margin: 10px 60px;
    width: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* nav {
    grid-area: nav;
    background-color: rgb(235, 235, 235);
  } */

  /* BOOKS LOGO */
/* 
  #books {
    max-width: 100px;
    max-height: 80px;
    margin: 40px 0px;
  }

  h1 {
    margin: 65px 10px;
  } */

  /*  BLINKING CURSOR */
  .blinking-cursor {
    font-weight: 100;
    font-size: 60px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }